{% extends "layout.html" %}

{% block title %}
    Afrofuturism
{% endblock %}

{% block main %}
<!--for pop up-->

<!--<div class="modal" id="modal">-->
<!--    <div class="modal-header">-->
<!--        <div class="title"> Welcome!</div>-->
<!--        <button class="close-button"> x </button>-->
         <!--&times; -->
<!--    </div>-->

<!--    <div class="modal-body">-->
<!--        <p> In this website, we will explore two subcategories of Black Speculative Fiction: Afrofuturism and Africanfuturism. </p>-->
<!--    </div>-->
<!--</div>-->

<!--beginnning of page-->
<main class="container" id="before-popup">
    <h1> Afrofuturism </h1>
    <p> is a sub-genre of speculative fiction (science fiction and fantasy) that explores liberation of people of African descent through elements of speculative fiction and other unconventional means. It can take place in various forms. </p>

    <br> <br>
    <section class="medium" data-aos="fade-in">
        <div>
        <h2> Film and TV </h2>
        <p> The most notable work of Afrofuturism is <i>Black Panther</i>. It follows the king T'Challa who is the superhero The Black Panther. He lives in the fictional African country Waakanda which is highly technologically advanced, more so than Western countries, because of its lack of colonialization and access to a rare but powerful (fictional) metal, vibranium.
        Within the comics the film is based off of and (spoiler!) at the end of the movie, T'Challa goes to America to help the Black people there. The imagining of a hyperfuturistic or better present for Black people due to an altered past - or fantasy altogether - is a major theme in Afrofuturism.
        </p>

        </div>
        <img src="/static/images/BlackPanther.jpg" alt="Black Panther Poster" height="600" width="405" class="no-stretch">
        <!--may need to fix dimensions of BP photo-->
    </section>

     <section class="medium" data-aos="fade-in">
        <img src="/static/images/octaviabutler.jpg" alt="Octavia Butler and her books" height="288" width="512" class="no-stretch">

        <div>
            <h2 class="lowerpg"> Books and Short Stories </h2>

            <p class="lowerpg"> "The Comet", a short story by W.E.B. Du Bois, is cited as a founding work of Afrofuturism. Published in 1920, it explores what happens when a comet wipes out all of the world's population except for a Black man named Jim.
            It delves into how he goes about freed from the restraints of racism. </p>

            <br> <br>

            <p class="lowerpg"> Octavia Butler's novels and short stories are a staple of Afrofuturism works. The Earthseed series (<i>Parable of the Sower </i> and <i> Parable of the Talents</i>) explores religion, climate change, and demoguaugery in a not so distant dystopian future.
            The short story "Bloodchild" explores different gender roles and human subjugation. Octavia Butler's works are a pillar of Afrofuturism.  </p>
        </div>

     </section>

      <section class="medium" data-aos="fade-in">
        <div>
            <h2 class="lowerpg"> Music </h2>
            <p class="lowerpg"> The artist Sun Ra and his Arkestra created music about Black liberation through escaping Earth to inhabit space and another planet. </p>
            <p class="lowerpg">  His most famous work is the album and movie titled <a class="lowerhighlight" href="https://www.youtube.com/watch?v=bCalqwsicls"> <i>Space is the Place</i> </a> where Sun Ra tries to recruit young Black Americans to join him in an expedition to space before the Earth - full of oppression and sin, represented by a figure called "The Underseer" - is destroyed. </p>
        </div>

        <img src="/static/images/sunra.jpg" alt="Sun Ra" height="280" width="279" class="no-stretch">
     </section>

    <br><br><br>

</main>

<!--<br> <br>-->

{% endblock %}
