{% extends "layout.html" %}

{% block title %}
    Diasporic Roles
{% endblock %}

{% block main %}

<main class="container">

    <h1> Diasporic Roles </h1>
            <h3> People within the African Diaspora play a large role in both Afrofuturism and Africanfuturism. <br> However, how these genres relate to the diaspora is different. </h3>
    <br> <br>

    <section class="medium">
        <div>
            <p> <span> Afrofuturism </span> started in the United States by Generational African-Americans. Many Afrofuturist narratives deal with being part of the Americas and the trauma of the forced removal of Africans from Africa in the slave trade. It deals mostly with the Black Western experience
            including racism in all facets of life and breaking free of this oppression and being fully incorporated into Western societies. </p>
        </div>

        <div>
            <p> <span> Africanfuturism </span> does not intend to disclude people of the African diaspora in its effort to disclude the white Western gaze. However, when stories include people of the diaspora, the main focus must return to Africa. Africanfuturist stories must always relate back to Africa and imagining its future.  </p>
        </div>
    </section>

    <h1> Second Generation Africans</h1>
    <br>
    <section data-aos="fade-up" class="medium">
            <div> <p> Special attention should be paid to creators who are second generation immigrants (their parents are African immigrants to another - typically Western - country). They play a very important role in Afrofuturism and Africanfuturism because of proximity to their African and Western cultures.
            This allows them to write works that are authentic to both genres and are imperative contributions to their cannons.  </p>
            <br>
           <p> These include Nigerian-Americans Tomi Adeyemi (<i>Legacy of Orisha</i> series) and Tochi Onyebuchi (<i>War Girls </i> and <i> Beasts Made of Night</i> series), and Jamaican-Canadian writer Nalo Hopkinson. </p>

        </div>

          <img src="/static/images/tomi.jpeg" alt="Children of Blood and Bone" height="440" width="658" class="no-stretch">
    </section>
    <br> <br>

    <h1 data-aos="fade-up"> Mundane Afrofuturism</h1>
    <br>
    <section class="medium" data-aos="fade-up">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/otUJvQhCjJ0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div>
            <p class="lowerpg"><span> Mundane Afrofuturism </span> is about breaking free from tropes in literature and media that characturize Black people but also creating works that more realistic in their proposals for Black liberation. Another call in Mundane Afrofuturism is to get more representation of Black people doing 'normal' things:
            'just living and loving and laughing and having a good time and not under siege or study' as author Tisa Bryant puts it in <i> The Mundane Afrofuturist Manifesto </i> (25:00-26:11) </p>

            <p class="lowerpg">There is a lot of connection between the representation in media Mundane Afrofuturists want and representation already present in Africa. In African media, Black is the standard in mainstream media because everyone there is black, for the most part, in skin tone.  While Mundane Afrofuturism recognizes that this is not realisticly achieveable in
            Western countries, it does call for less offensive and more natural representation of Black people within mainstream media.   </p>
        </div>
    </section>


    <h1 data-aos="fade-up" class="lowerpg">Afropolitanism</h1>
    <br>
    <section class="medium" data-aos="fade-up">
        <div>
        <p class="lowerpg"> <span class="lowerhighlight"> Afropolitanism </span> was a term widely used before the advent of Africanfuturism.  The term was coined in Taiye Selasi's 2005 essay <a class="lowerhighlight" href="http://thelip.robertsharp.co.uk/?p=76"> "Bye-Bye Babar." </a> Afropolitans are "Africans of the world" who were born in Africa
        but lived a signifcant part of their life in somewhere other than their birthplace - typically the West - or are children of African emigrants.
        They go beyond the tradition indicators of African emigrant sucess - doctor, lawyer, engineer - to contribute to the arts, media, politics, and other arenas. They want to contribute to a different vision of Africa.  Afropolitans are comparable to Mundane Afrofuturists who focused Black liberation in art in a more realistic way. </p>

        <br>
        <p class="lowerpg"> There are <a class="lowerhighlight" href="https://africasacountry.com/2014/01/why-im-not-an-afropolitan"> criticisms of Afropolitanism </a> due to its association with consummerism and capitalism, its immitation of and "Africaning" of Western ideals, and being seen as another way for the West to capitalize off Africa.
        It can also be passed off as a singular story of Africans while there are many different narratives. However, a departure from the impoverished, "starving African" narrative is a good thing. Afropolitanism is imperative to Africans claiming and sharing their own stories. </p>

        </div>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/k8DAdfs6yWA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

</main>
{% endblock %}

