{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<main class="container" data-aos="fade-in">
    <h3> Welcome! In this website, we will explore two subcategories of Black Speculative Fiction: <br> Afrofuturism and Africanfuturism. </h3>
</main>

<br> <br>

<img src="/static/images/worldonhead.jpg" alt="African Girls Carry Earth and Mars on Head">

<br> <br>

<!-- intended pop up-->

<!--<div class="modal" id="modal">-->
<!--    <div class="modal-header">-->
<!--        <div class="title"> Welcome!</div>-->
<!--        <button class="close-button"> x </button>-->
         <!--&times; -->
<!--    </div>-->

<!--    <div class="modal-body">-->
<!--        <p> In this website, we will explore two subcategories of Black Speculative Fiction: Afrofuturism and Africanfuturism. </p>-->
<!--    </div>-->

<!--</div>-->



{% endblock %}